:root {
  --fs-xlg: 3rem;
  --fs-lg: 1.5rem;
  --fs-md: 1.1rem;
  --fs-sm: 0.75rem;

  --fw-bld: 800;
  --fw-reg: 500;
  --fw-thn: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* BASE */
p,
label,
input,
button,
a {
  font-weight: var(--fw-reg);
  font-size: var(--fs-md);
  letter-spacing: 0.02em;
  padding-block: 0.2rem;
}

input[type="text"]:focus-visible {
  background-color: aliceblue;
}

label {
  display: block;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
}
/* END BASE */

/* helpers */
.main-header {
  text-align: center;
  margin-top: 3rem;
}

.text-center {
  text-align: center;
}
/* end helpers */

/* nav / header */
.nav > ul {
  display: flex;
  list-style: none;
  align-items: baseline;
  padding: 1rem 1rem;
  column-gap: 1.25rem;
  background-color: lightgreen;
}
.nav > ul li:first-child {
  margin-right: auto;
}

.name-link {
  text-decoration: none;
  color: black;
  font-size: var(--fs-lg);
  font-weight: var(--fw-bld);
}

.float-link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: var(--fs-md);
  transition: all 200ms ease-in-out;
}

.float-link:hover {
  -webkit-text-stroke: 0.5px black;
}

.admin-link {
  padding: 0.2rem 0.6rem;
  color: white;
  background-color: rgb(91, 214, 255);
  border-radius: 100vw;
}
.admin-link:hover {
  -webkit-text-stroke: 0.5px white;
}

/* sign-up.php */
.signup__form,
.login__form {
  max-width: 500px;
  margin: 4rem auto;
}
.signup__set,
.login__set {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1.5rem;
}
.signup__set input {
  width: 100%;
}
.signup__set div:nth-child(6) {
  display: flex;
  justify-content: center;
  align-items: end;
}
.signup__set input[type="submit"] {
  width: fit-content;
}

/* login.php */
.login__set div:nth-child(4),
.login__form div:nth-child(5) {
  display: flex;
  justify-content: center;
  grid-column: span 2;
}

/* admin panel */
.admin-grid {
  display: grid;
  max-width: 900px;
  padding-inline: 2rem;
  margin-inline: auto;
  grid-template-columns: 1fr;
  gap: 1rem 2rem;
}

@media all and (min-width: 650px) {
  .admin-grid {
    grid-template-columns: 3fr 2fr;
  }
}

.product__set {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.product__set input[type="text"],
.product__set textarea {
  width: 100%;
}

.product__currency-wrapper {
  display: flex;
  column-gap: 0.5rem;
}
.product__currency-wrapper input[type="number"] {
  max-width: 125px;
}

.product__tray {
  position: relative;
  border: 2px solid grey;
  padding: 1rem 0.75rem;
  margin-top: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 0.8rem 0.5rem;
}

.users__form {
  position: relative;
  border: 2px solid grey;
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem 0.5rem;
  margin-top: 0.5rem;
  align-items: stretch;
}

.product__tray::before,
.users__form::before {
  content: "Delete product on click";
  display: block;
  position: absolute;
  top: -0.5rem;
  left: 0.75rem;
  padding-inline: 0.2rem;
  background-color: white;
}
.users__form::before {
  content: "Add/Remove/Modify User";
}

.users__user.admin {
  background-color: rgba(102, 51, 153, 0.3);
}

.users__user.admin:disabled {
  cursor: not-allowed;
  color: inherit;
  border-color: inherit;
}

.product__tray-item {
  position: relative;
}
.product__tray-item:hover::after {
  content: "x";
  position: relative;
  display: inline-block;
  aspect-ratio: 1/1;
  width: 5px;
  margin-block: auto;
  padding-inline: 0.5rem 0.75rem;
}

.admin-popup {
  position: absolute;
  right: 10%;
  top: 100px;
  width: 125px;
  text-align: center;
  padding: 0.25rem;
  border-radius: 10px;
  animation: fade-in-up 3s linear forwards;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.admin-popup p {
  font-weight: var(--fw-bld);
}

.admin-popup.success {
  background-color: rgba(172, 255, 47, 0.85);
}
.admin-popup.fail {
  background-color: rgba(178, 34, 34, 0.85);
  color: whitesmoke;
}

/* products.php */
.gad__grid {
  display: grid;
  list-style-type: none;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 10rem;
  margin-inline: auto;
  /* outline: 1px solid red; */
  grid-template-columns: 1fr;
  grid-auto-rows: 400px;
  padding-inline: 1rem;
  gap: 1rem 1.5rem;
}

@media all and (min-width: 650px) {
  .gad__grid {
    grid-template-columns: 1fr 1fr;
    padding-inline: 2rem;
  }
}
@media all and (min-width: 1000px) {
  .gad__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1500px) {
  .gad__grid {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 10rem;
  }
}

/* grid item */
.gad__item {
  width: 100%;
  height: 100%;
  position: relative;
  border: 4px groove black;
  border-radius: 20px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.gad__item:hover {
  /* darken filter is on the a object */
  scale: 101%;
  transform: translateY(-3px);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.505);
}
.gad__item::after {
  content: "";
  transform: translateX(-2rem);
  opacity: 0;
  transition: all 200ms ease-in-out 100ms;
}
.gad__item:hover::after {
  content: "";
  width: 3rem;
  aspect-ratio: 1/1;
  /* transition props */
  transform: translateX(0px);
  opacity: 1;
  /* white arrow */
  background-image: url("./images/arrow-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.gad__item > a {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  color: rgb(15, 14, 14);
  transition: filter 200ms ease-in-out;
}
.gad__item:hover > a {
  filter: brightness(80%);
}

.gad__img {
  /* note height is 75% of the row height for the grid */
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.gad__content {
  flex-grow: 1;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: white;
}
.gad__title {
  display: -webkit-box;
  font-size: var(--fs-lg);
  text-wrap: pretty;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.gad__flex {
  display: flex;
  width: 100%;
  align-content: center;
  column-gap: 1rem;
  align-items: start;
  justify-content: space-between;
}
.gad__desc {
  display: -webkit-box;
  font-size: var(--fs-md);
  text-wrap: pretty;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.gad__price,
.prodcard__price {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bld);
  padding-block: 0.25rem;
}

/* description.php */

@media (max-width: 600px) {
  .prodcard {
    flex-direction: column;
  }

  .prodcard__content {
    /* place second */
    order: 1;
  }
}

.prodcard {
  max-width: 800px;
  max-height: 800px;
  margin-inline: auto;
  display: flex;
  justify-content: stretch;
  column-gap: 3rem;
  margin-top: 5rem;
  padding-inline: 1rem;
}

.prodcard__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.prodcard__title {
  padding-bottom: 0.75rem;
}
.prodcard__price {
  margin-left: auto;
}
.prodcard__cartbtn {
  width: max-content;
  margin-left: auto;
}

@media (min-width: 600px) {
  .prodcard__cartbtn {
    margin: auto 1rem 1rem auto;
  }
}

.prodcard__img {
  flex-grow: 1;
  max-width: 100%;
  object-fit: cover;
  height: 350px;
  border-radius: 10px;
  border: 2px solid black;
}
